<!doctype html>
<html ng-app>
  <head>
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>  -->
  <script type="text/javascript" src="./lib/angular.min.js"></script> 
 <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 
  <!-- <script type="text/javascript" src="./lib/test.js"></script> -->
  <!-- <script src="http://code.angularjs.org/1.0.5/angular.min.js"/> -->
  </head>
  <body>
  
         <b>Invoice:</b>

      <br>

      <br>
<div >
      <table>

       <tr><td>Quantity</td><td>Cost</td></tr>

       <tr>

         <td><input type="integer" min="0" ng-model="qty" required ></td>

         <td><input type="number" ng-model="cost" required ></td>

       </tr>

      </table>

      <hr>

      <b>Total:</b> {{qty * cost | currency}}
  </div>
  </body>
</html>